<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scholarship</title>

    <link href="https://codingblocks.com/favicon.ico" rel="icon">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link
        href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap"
        rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/scholarship.css">

</head>

<body>

    <!-- Header Section -->

    <header id="header">

        <div class="upper-header">
            <div class="container d-flex align-items-center">
                <a href="#" class="me-auto logo"><img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/cblogo.webp"
                        alt="Coding Blocks" class="img-fluid"></a>

                <nav class="nav upperheadnav">
                    <ul>
                        <li class="active">
                            <a href="#">
                                <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/iconLearn.webp" alt="Learn">
                                <span>Learn</span>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/iconMonitor.webp"
                                    alt="Practice">
                                <span>Practice</span>
                            </a>

                        </li>

                        <li>
                            <a href="#">
                                <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/iconHire.webp" alt="Hire">
                                <span>Get Hired</span>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/iconIDE.webp" alt="IDE">
                                <span>IDE</span>
                            </a>
                        </li>

                    </ul>
                </nav>
                <a href="https://codingblocks.com/login.html" class="login-signup-btn btn">Login / Signup</a>
                <button class="navbar-toggler">
                    <span class="bar"></span>
                </button>
            </div>
        </div>
        <div class="bottomheadernav">
            <div class="container d-flex align-items-center">
                <!-- <a href="#" class="me-auto logo"><img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/cblogo.webp"
                        alt="Coding Blocks" class="img-fluid"></a> -->

                <nav class="nav bottomheadnav ms-auto">
                    <ul>
                        <li>
                            <a href="#" class="d-flex align-items-center">
                                Courses
                                <i class="fa-solid fa-angle-down ps-1"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="d-flex align-items-center">
                                Community and events
                                <i class="fa-solid fa-angle-down ps-1"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="d-flex align-items-center">
                                Free Learning resoureces
                                <i class="fa-solid fa-angle-down ps-1"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="d-flex align-items-center">
                                Live Classes
                                <!-- <i class="fa-solid fa-angle-down ps-1"></i> -->
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
        <div class="nav-mobile-view">

        </div>

    </header>

    <!-- End of Header -->

    <!-- infopan Section Start-->

    <section class="infopan">
        <div class="container">
            <div class="row">
                <div class="col-md-9 pt-3 pt-md-0">
                    <p style="color: white;" class="m-0">Practice Coding and Excel Interview Preparation on the go!:
                        CodeSkiller </p>
                </div>
                <div class="col-md-3 d-flex justify-content-end align-items-center pt-3 pt-md-0">
                    <a href="#" class="d-flex align-items-center">Check Now <i
                            class="fa fa-solid fa-angle-right ps-1"></i> </a>
                </div>
            </div>
        </div>
    </section>

    <!-- infopan Section End-->

    <!-- Course Banner -->

    <section class="scholarship-banner d-flex">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="scholarship-banner-head d-flex mt-4 align-items-center">
                        <img class="me-4" src="https://cb3img.s3.ap-south-1.amazonaws.com/img/iconcup.webp"
                            alt="Interview Preperation">
                        <div>
                            <h2>C A S T</h2>
                            <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/txtunderline.svg"
                                class="text-underline" alt="CAST">
                        </div>
                    </div>

                    <div class="subhead">
                        <h3>Coding Blocks Aptitude and Scholarship Test</h3>
                    </div>

                    <div class="subtitle">
                        <p>Coding Blocks CAST or CB Admission and Scholarship Test is intended to
                            motivate and assist aspiring coders by providing Fee scholarships up to 100%, Wildcraft bag,
                            T-shirt and Goodies. </p>
                    </div>

                    <a href="#main" class="btn btn-primary">Show me the details of upcoming CASTs</a>

                </div>
                <div class="col-md-6 mt-3">
                    <div class="img-wrapper">
                        <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/cast.webp" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Course Banner End-->

    <!-- main start -->
    <main id="main">

        <!-- Upcoming Exam Section -->
        <section class="upcoming-exam-detail light-bg">

            <div class="container">
                <div class="section-heading">
                    <h2>Upcoming Exam</h2>
                </div>

                <div class="row">
                    <div class="col-md-6">

                        <div class="upcoming-exam-schedule mt-4 d-flex align-items-center justify-content-between">
                            <div class="date">
                                <div>Date</div>
                                <span class="d-flex">
                                    <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/icondate.svg">
                                    <div id="test_date">10/15/2023</div>
                                </span>
                            </div>

                            <div class="time">
                                <div>CAST (Beginner)</div>
                                <span>
                                    <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/icondate.svg">
                                    <div id="test_time"> 7:00 - 8:00 PM</div>
                                </span>
                                <span>
                                    <strong>Eligible courses</strong>
                                </span>
                                <span>
                                    <a href="data-structures-and-algorithms-using-c-plus-plus.html">Master Data
                                        structures and Algorithms using C++ (Classroom/LIVE interactive)</a>
                                </span>

                                <span>
                                    <a href="data-structures-and-algorithms-using-java.html">Master Data structures and
                                        Algorithms using Java (Classroom/LIVE interactive)</a>
                                </span>
                            </div>

                            <div class="time">
                                <div>CAST (Beginner)</div>
                                <span>
                                    <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/icondate.svg">
                                    <div id="test_time"> 7:00 - 8:00 PM</div>
                                </span>
                                <span>
                                    <strong>Eligible courses</strong>
                                </span>
                                <span>
                                    <a href="data-structures-and-algorithms-using-c-plus-plus.html">Master Data
                                        structures and Algorithms using C++ (Classroom/LIVE interactive)</a>
                                </span>

                                <span>
                                    <a href="data-structures-and-algorithms-using-java.html">Master Data structures and
                                        Algorithms using Java (Classroom/LIVE interactive)</a>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="upcoming-enroll-box d-flex align-items-center justify-content-between">
                            <div class="left">
                                <p style="margin-bottom: 0px;">Register now: FREE <span
                                        style="font-size: 18px;">&nbsp;<del>₹49</del></span></p>
                            </div>
                            <div class="right d-flex flex-column">
                                <a href="#main" class="btn btn-primary">Enroll in CAST Beginner</a>
                                <a href="#main" class="btn btn-primary">Enroll in CAST Advanced</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <!-- Upcoming Section End -->

        <!-- Enroll section -->

        <section class="enroll-section dark-bg">

            <div class="container">
                <div class="section-heading">
                    <h2>How to Enroll?</h2>
                </div>

                <div class="steps">

                    <div class="checkpoints register">
                        <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/iconcast.svg">
                    </div>

                    <div class="checkpoints prepare">
                        <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/iconprepare.svg">
                    </div>

                    <div class="checkpoints rewards">
                        <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/iconbenifit.svg">
                    </div>

                </div>

                <div class="steps-details">
                    <div class="step-1">
                        Click on the Enroll now anf Signup using your Email-id and Password
                    </div>

                    <div class="step-2">
                        Book your CAST date by paying 49/- and Prepare well for the test
                    </div>

                    <div class="step-3">
                        Attempt CAST and thats it, your Scholarship is on your way!
                        <br>
                        <em>minimum 10% guaranteed</em> 🎉
                    </div>
                </div>
            </div>

        </section>

        <!-- Enroll section End -->

        <!-- Benefits of Exam Section -->

        <section class="services light-bg pt-0">

            <div class="container px-0 ">
                <div class="section-heading">
                    <h2>Benefits of Exam</h2>
                    <p>Learn and grow as a developer with our project based courses.</p>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="service-boxes">

                            <div class="service-box">
                                <div class="icon">
                                    <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/cd-ifc.png"
                                        alt="Industry-focused curriculum">
                                </div>

                                <h4>Assured Scholarship</h4>

                                <p>Get upto 100% Scholarship or atleast Scholarship worth 2000/- on Classroom Course
                                </p>
                            </div>

                            <div class="service-box">
                                <div class="icon">
                                    <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/cd-cfp.png"
                                        alt="Career-focused pedagogy">
                                </div>
                                <h4>Free FAANG Test Series</h4>
                                <p>Every registerant will get FAANG test series absolutely FREE.</p>
                            </div>

                            <div class="service-box">
                                <div class="icon">
                                    <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/cd-bcm.png"
                                        alt="Best in class mentor">
                                </div>
                                <h4>Extensive Placement Assistance</h4>
                                <p>With 150+ Companies actively hiring &amp; 6000+ alumni placed. </p>
                            </div>

                            <div class="service-box">
                                <div class="icon">
                                    <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/cd-doubt.png"
                                        alt="Best in class mentor">
                                </div>
                                <h4>Exclusive Doubt Support</h4>
                                <p>Swift Doubt resolution by Mentor &amp; dedicated TA's</p>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </section>

        <!-- Benefits of Exam Section End-->

        <!-- Enroll section -->

        <section class="enroll-section dark-bg">

            <div class="container">
                <div class="section-heading">
                    <h2>KEY HIGHLIGHTS</h2>
                </div>

                <div class="steps">

                    <div class="checkpoints register">
                        <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/aptitude.jpg">
                    </div>

                    <div class="checkpoints prepare">
                        <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/-vemarkingupdate.png">
                    </div>

                    <div class="checkpoints rewards">
                        <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/iconbenifit.svg">
                    </div>

                </div>

                <div class="steps-details">
                    <div class="step-1">
                        Aptitude based MCQ's
                    </div>

                    <div class="step-2">
                        Negative Marking
                    </div>

                    <div class="step-3">
                        Attempt the CAST and thats it, your Scholarship is on your way!
                    </div>
                </div>
            </div>

        </section>

        <!-- Enroll section End -->

        <!-- Courses Based on Subjects Section -->

        <section class="courses-based-on-subjects courses dark-bg">

            <div class="container">
                <div class="section-heading">
                    <h2>Courses Based on Subjects</h2>
                    <p>Learn and grow as a developer with our Result oriented pedagogy and project based learning.</p>
                </div>

                <div class="tabpan">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a href="#" class="nav-link active">
                                <span class="tabimage">
                                    <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/iconDSA.webp" alt="DSA">
                                </span>
                                Data structures
                                <br>
                                & Algorithms
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <span class="tabimage">
                                    <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/iconCCP.webp"
                                        alt="Competitive Programming">
                                </span>
                                Competitive
                                <br>
                                Programming
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <span class="tabimage">
                                    <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/iconCIP.webp"
                                        alt="Interview Preperation">
                                </span>
                                Interview
                                <br>
                                Preparation
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <span class="tabimage">
                                    <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/iconCWD.webp"
                                        alt="Web Development">
                                </span>
                                Web
                                <br>
                                Development
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <span class="tabimage">
                                    <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/iconCAndroid.webp"
                                        alt="Android">
                                </span>
                                Android
                                <br>
                                Development
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <span class="tabimage">
                                    <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/iconCDS.webp"
                                        alt="Data Science">
                                </span>
                                Data Science
                                <br>
                                & ML
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <span class="tabimage">
                                    <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/Lightning.webp"
                                        alt="Machine Learning">
                                </span>
                                Micro
                                <br>
                                Courses
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <span class="tabimage">
                                    <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/iconLearn.webp"
                                        alt="bootcamp">
                                </span>
                                Bootcamps
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="tab-content">

                    <div class="row active">

                        <div class="container">

                            <h3 class="mt-4">
                                About Data Structures and Algorithms
                            </h3>

                            <p>Data Structures and Algorithms are the building blocks of programming &amp; required to
                                write optimised code. They are also necessary to start development level programs
                                like Web development and Andriod app development. These are the skills that are
                                typically tested when students appear for Placement drives for Jobs and Internships.
                                Ideal for students for first and second year of college and for those looking forward to
                                Placements &amp; Internships.<em> This course is designed for absolute beginners and
                                    does not require any knowledge of coding.</em>
                            </p>

                            <div class="coursescardcontainer">
                                <div class="row overflowauto">
                                    <div class="col-md-3">
                                        <div class="box">

                                            <div class="livepan">
                                                <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/Classroom.webp"
                                                    height="20px" alt=""> &nbsp;
                                                <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/batchlive.webp"
                                                    height="20px" alt=""> &nbsp;
                                                <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/Online.svg"
                                                    height="20px" alt="">
                                            </div>

                                            <div class="boxhead blue">
                                                <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/iconDSA.webp"
                                                    alt="C++">
                                                Master Data structures and Algorithms using C++
                                            </div>

                                            <div class="boxdetail">
                                                <h5>This course includes</h5>
                                                <ul>
                                                    <li><img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/baward.webp"
                                                            alt="">350+ problems &amp; 6 projects</li>
                                                    <li><img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/bglobe.svg"
                                                            alt="">Foundation, Basics and Advanced modules</li>
                                                    <li><img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/Progress.png"
                                                            alt="">Progress tracking and feedback</li>
                                                    <li><img style="width:13px"
                                                            src="https://cb3img.s3.ap-south-1.amazonaws.com/img/Certificate1.webp"
                                                            alt="">Certificate of Excellence/Completion</li>
                                                    <li><img style="width: 12px;"
                                                            src="https://cb3img.s3.ap-south-1.amazonaws.com/img/Placement1.webp"
                                                            alt="">Placement assistance</li>
                                                    <li><img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/doubtsupport.png"
                                                            alt="">Doubt support</li>
                                                    <li><img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/bmonitor.webp"
                                                            alt="">Curriculum designed for beginners, No coding
                                                        experience required</li>
                                                </ul>
                                            </div>
                                            <div class="btncardgroup tp16">
                                                <a href="data-structures-and-algorithms-using-c-plus-plus.html"
                                                    class="btn btn-primary btn-block">
                                                    Show Course details
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="box">

                                            <div class="livepan">
                                                <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/Classroom.webp"
                                                    height="20px" alt=""> &nbsp;
                                                <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/batchlive.webp"
                                                    height="20px" alt=""> &nbsp;
                                                <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/Online.svg"
                                                    height="20px" alt="">
                                            </div>

                                            <div class="boxhead blue">
                                                <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/iconDSA.webp"
                                                    alt="C++">
                                                Master Data structures and Algorithms using C++
                                            </div>

                                            <div class="boxdetail">
                                                <h5>This course includes</h5>
                                                <ul>
                                                    <li><img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/baward.webp"
                                                            alt="">350+ problems &amp; 6 projects</li>
                                                    <li><img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/bglobe.svg"
                                                            alt="">Foundation, Basics and Advanced modules</li>
                                                    <li><img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/Progress.png"
                                                            alt="">Progress tracking and feedback</li>
                                                    <li><img style="width:13px"
                                                            src="https://cb3img.s3.ap-south-1.amazonaws.com/img/Certificate1.webp"
                                                            alt="">Certificate of Excellence/Completion</li>
                                                    <li><img style="width: 12px;"
                                                            src="https://cb3img.s3.ap-south-1.amazonaws.com/img/Placement1.webp"
                                                            alt="">Placement assistance</li>
                                                    <li><img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/doubtsupport.png"
                                                            alt="">Doubt support</li>
                                                    <li><img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/bmonitor.webp"
                                                            alt="">Curriculum designed for beginners, No coding
                                                        experience required</li>
                                                </ul>
                                            </div>
                                            <div class="btncardgroup tp16">
                                                <a href="data-structures-and-algorithms-using-c-plus-plus.html"
                                                    class="btn btn-primary btn-block">
                                                    Show Course details
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="box">

                                            <div class="livepan">
                                                <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/Classroom.webp"
                                                    height="20px" alt=""> &nbsp;
                                                <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/batchlive.webp"
                                                    height="20px" alt=""> &nbsp;
                                                <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/Online.svg"
                                                    height="20px" alt="">
                                            </div>

                                            <div class="boxhead blue">
                                                <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/iconDSA.webp"
                                                    alt="C++">
                                                Master Data structures and Algorithms using C++
                                            </div>

                                            <div class="boxdetail">
                                                <h5>This course includes</h5>
                                                <ul>
                                                    <li><img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/baward.webp"
                                                            alt="">350+ problems &amp; 6 projects</li>
                                                    <li><img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/bglobe.svg"
                                                            alt="">Foundation, Basics and Advanced modules</li>
                                                    <li><img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/Progress.png"
                                                            alt="">Progress tracking and feedback</li>
                                                    <li><img style="width:13px"
                                                            src="https://cb3img.s3.ap-south-1.amazonaws.com/img/Certificate1.webp"
                                                            alt="">Certificate of Excellence/Completion</li>
                                                    <li><img style="width: 12px;"
                                                            src="https://cb3img.s3.ap-south-1.amazonaws.com/img/Placement1.webp"
                                                            alt="">Placement assistance</li>
                                                    <li><img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/doubtsupport.png"
                                                            alt="">Doubt support</li>
                                                    <li><img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/bmonitor.webp"
                                                            alt="">Curriculum designed for beginners, No coding
                                                        experience required</li>
                                                </ul>
                                            </div>
                                            <div class="btncardgroup tp16">
                                                <a href="data-structures-and-algorithms-using-c-plus-plus.html"
                                                    class="btn btn-primary btn-block">
                                                    Show Course details
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <br>
                            <div class="career-advice">
                                <p class="mt-3" style="font-size: 1.2rem;">You can also seek Career counselling and
                                    Expert assistance in choosing your course or mode of study</p>
                                <a href="./career-advice.html#services" class="btn btn-primary scrollto mt-3"> Get
                                    Career advice</a>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="explore mt-5 light-bg">
                    <div class="row">
                        <div class="col-8 explore-col">
                            <h4>You can also explore our Courses basis the mode of study</h4>
                        </div>
                        <div class="col-4 d-flex justify-content-end align-items-start explore-col">
                            <a href="#" class="d-flex align-items-center">Check Now <i
                                    class="fa fa-solid fa-angle-down ps-1"></i> </a>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <!-- End of Courses Based on Subjects Section -->

        <!-- Learn Method Section -->

        <section class="learn-method">
            <div class="container">
                <div class="section-heading">
                    <h2>Choose how you learn!</h2>
                    <p>Learn and grow as a developer with our Result oriented pedagogy and project based learning.</p>
                </div>

                <div class="select-program">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a href="#" class="nav-link active">Classroom Program</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Live Interactive Program</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Online Guided Learning Program</a></li>
                    </ul>
                </div>

                <div class="program-content">
                    <p class="program-content-description">
                        The most popular methods of learning opted by students who believe in
                        perfection. This is extremely successful and result oriented because of strong Peer group,
                        personal attention and round the clock availability of mentors.
                    </p>
                    <div class="row justify-content-sm-end">
                        <div class="col-sm-8">
                            <div class="program-content-boxes d-flex">
                                <div class="box">
                                    <div class="icon">
                                        <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/cd-ifc.webp"
                                            alt="Developer CV and profile Preperation">
                                    </div>
                                    <h4>Limited Batch Size</h4>
                                </div>

                                <div class="box">
                                    <div class="icon">
                                        <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/cd-bcm.webp"
                                            alt="Interview Preperation">
                                    </div>
                                    <h4>Individual attention</h4>
                                </div>

                                <div class="box">
                                    <div class="icon">
                                        <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/studentchat.svg"
                                            alt="Referrals for Placements and internships">
                                    </div>
                                    <h4>Awesome Peer group</h4>
                                </div>

                                <div class="box">
                                    <div class="icon"><img
                                            src="https://cb3img.s3.ap-south-1.amazonaws.com/img/userrefresh.svg"
                                            alt="Mock interviews"></div>
                                    <h4>Continuous feedback &amp; monitoring</h4>
                                </div>

                            </div>
                            <div class="program-content-boxes d-flex">
                                <div class="box">
                                    <div class="icon">
                                        <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/studentplaced.svg"
                                            alt="Developer CV and profile Preperation">
                                    </div>
                                    <h4>100% Course completion</h4>
                                </div>

                                <div class="box">
                                    <div class="icon">
                                        <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/chat1.svg"
                                            alt="Interview Preperation">
                                    </div>
                                    <h4>Dedicated Doubt support</h4>
                                </div>

                                <div class="box">
                                    <div class="icon">
                                        <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/breifcase.svg"
                                            alt="Referrals for Placements and internships">
                                    </div>
                                    <h4>Dedicated Placement support</h4>
                                </div>

                                <div class="box">
                                    <div class="icon">
                                        <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/cd-hlearn.webp"
                                            alt="Mock interviews">
                                    </div>
                                    <h4>In-class Hackathons &amp; Assignment sessions</h4>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-end ">
                            <a href="classroom-programs.html" class="btn btn-primary">Check out all Classroom courses
                                <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/arrowright-w.svg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- End of Learn Method Section -->


        <!-- Why Coding Blocks -->

        <!-- ==================Styling Same as Benefit Section-->

        <section class="services pt-0 wcb">

            <div class="container light-bg">
                <div class="section-heading d-lg-flex align-items-center ">
                    <h2>Why Coding Blocks?</h2>
                    <p>With time tested, result oriented pedagogy &amp; industry aligned courses offering
                        project based learning, our courses are your perfect investment into your
                        career. Get the best in the industry!
                    </p>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="service-boxes">
                            <div class="service-box">
                                <div class="icon"><img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/teacher.png"
                                        alt=""></div>
                                <h4>Superb mentors</h4>
                                <p>Best in class mentors from top Tech schools and Industry favourite Techies are here
                                    to teach you.</p>
                            </div>

                            <div class="service-box">
                                <div class="icon"><img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/laptop.png"
                                        alt=""></div>
                                <h4>Industry-vetted curriculum</h4>
                                <p>Best in class content, aligned to the Tech industry is delivered to you to ensure you
                                    are a darling of the Tech industry.</p>
                            </div>

                            <div class="service-box">
                                <div class="icon"><img
                                        src="https://cb3img.s3.ap-south-1.amazonaws.com/img/project-learning.png"
                                        alt=""></div>
                                <h4>Project based learning</h4>
                                <p>Hands on learning pedagogy with live projects to cover practical knowledge over
                                    theoretical one.</p>
                            </div>

                            <div class="service-box">
                                <div class="icon"><img
                                        src="https://cb3img.s3.ap-south-1.amazonaws.com/img/office-bag.png" alt="">
                                </div>
                                <h4>Superb placements</h4>
                                <p>Result oriented courses with placement across all genres, students as well as Working
                                    professionals.</p>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </section>

        <!-- End of Why Coding Blocks -->

    </main>

    <!-- End of main -->

    <!-- Footer Start -->

    <footer id="footer" class="dark-bg">
        <section class="review">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-4">
                        <h4>Our Reviews</h4>
                        <p>We love our students as much as they love us!</p>
                    </div>
                    <div class="col-md-8">
                        <div class="social-rating light-bg">
                            <div class="social-icon">
                                <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/icofb.webp" alt="">
                            </div>
                            <div class="rating">
                                <span class="me-1">4.8</span>
                                <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/star_filled.svg"
                                    class="starrating" alt="">
                            </div>
                        </div>

                        <div class="social-rating light-bg">
                            <div class="social-icon">
                                <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/icogoogle.webp" alt="">
                            </div>
                            <div class="rating">
                                <span class="me-1">4.8</span>
                                <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/star_filled.svg"
                                    class="starrating" alt="">
                            </div>
                        </div>

                        <div class="social-rating light-bg">
                            <div class="social-icon">
                                <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/icoquora.webp" alt="">
                            </div>
                            <div class="rating">
                                100+
                                <span>Questions</span>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <div class="container">
            <hr>
        </div>

        <section class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 left">
                        <div class="row">

                            <div class="col-lg-3 col-md-6 footer-links">
                                <h4>PROGRAMS
                                    <i class="fa fa-solid fa-angle-down"></i>
                                </h4>
                                <ul>
                                    <li><a href="#">Classroom courses</a></li>
                                    <li><a href="#">Live interactive courses</a></li>
                                    <li><a href="#">Online Self paced courses</a></li>
                                    <li><a href="#">Career Bootcamp</a></li>
                                    <li><a href="#">Success stories</a></li>
                                    <li><a href="#">Scholarship Test</a></li>
                                    <li><a href="#">Get Career Advice</a></li>
                                </ul>
                            </div>

                            <div class="col-lg-3 col-md-6 footer-links">
                                <h4>COMPANY
                                    <i class="fa fa-solid fa-angle-down"></i>
                                </h4>
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Hire our students</a></li>
                                    <li><a href="#">Become a Franchise</a></li>
                                    <li><a href="#">Contact us</a></li>
                                </ul>
                            </div>

                            <div class="col-lg-3 col-md-6 footer-links">
                                <h4>RESOURCES
                                    <i class="fa fa-solid fa-angle-down"></i>
                                </h4>
                                <ul>
                                    <li><a href="#">Hacker Blocks</a></li>
                                    <li><a href="#">Hiring Blocks</a></li>
                                    <li><a href="#">IDE</a></li>
                                    <li><a href="#">Blogs</a></li>
                                </ul>
                            </div>

                            <div class="col-lg-3 col-md-6 footer-links">
                                <h4>COMMUNITY
                                    <i class="fa fa-solid fa-angle-down"></i>
                                </h4>
                                <ul>
                                    <li><a href="#">Become a CB Superhero</a></li>
                                    <li><a href="#">Request Workshop in college</a></li>
                                    <li><a href="#">Request Chapter in college</a></li>
                                </ul>
                            </div>



                        </div>
                    </div>
                    <div class="col-md-3 right footer-contact">
                        <h4>CONTACT</h4>
                        <p>
                            <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/icoemail.svg" class="me-1" alt="">
                            info@codingblocks.com
                        </p>
                        <p><img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/icocall.svg" class="me-1" alt="">
                            1800 274 4504
                        </p>
                        <h4 class="mt-4">Counselling team</h4>
                        <p>
                            <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/icoemail.svg" class="me-1" alt="">
                            admissions@codingblocks.com
                        </p>
                        <p>
                            <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/icocall.svg" class="me-1" alt="">
                            9999 579 111/222/333
                        </p>

                    </div>
                </div>
            </div>
        </section>

        <div class="container">
            <hr>
        </div>

        <section class="footer-medium">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4 left">
                        <img src="https://cb3img.s3.ap-south-1.amazonaws.com/img/cblogo.webp" alt="">
                    </div>

                    <div class="col-md-4 text-center center">
                        <a href="#">Privacy Policy</a> <span>|</span> <a href="#">Terms of Service</a>
                        <p class="mb-0 mt-2">Copyright 2022 - CODING BLOCKS PRIVATE LIMITED</p>
                        <p style="color:rgb(196, 22, 22);font-weight: 900;" class="mb-0 mt-2">Made with ♥ &amp; passion
                            by Coding Blocks</p>
                    </div>

                    <div class="col-md-4 right">
                        <div class="social-links text-md-end">
                            <a href="#" class="google-plus"><i class="fa-brands fa-youtube"></i></a>
                            <a href="#" class="instagram"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
                            <a href="#" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
                            <a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
                            <a href="#" class="github"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="footer-bottom">
            <div class="container">
                <h3> Important Links</h3>
                <p> CODING COURSES FOR BEGINNERS:</p>
                <p><a href="data-structures-and-algorithms-using-c-plus-plus.html">Data Structures and Algorithms in C++</a>
                    <span>|</span> <a href="data-structures-and-algorithms-using-java.html">Data Structures and Algorithms
                        in Java</a><span>|</span> <a href="data-structures-and-algorithms-using-python.html">Data Structures
                        and Algorithms in Python</a><span>|</span> <a href="python-for-data-science.html">Python for Data
                        science</a><span>|</span> <a href="interview-preperation-using-c-plus-plus.html">Master Interview
                        prep with C++</a><span>|</span> <a href="interview-preperation-using-java.html">Master Interview
                        prep with Java</a><span>|</span> <a
                        href="interview-Preperation-non-coding-dmbs-os-networking.html">Master Non Coding subjects for
                        Interview drives</a><span>|</span> <a href="interview-preperation-for-faang.html">Master Preperation
                        for FAANG</a><span>|</span> <a
                        href="https://online.codingblocks.com/courses/dynamic-programming-courses-problems-tutorials">Dynamic
                        Programming - Must Do Problem Set!</a><span>|</span> <a
                        href="https://online.codingblocks.com/courses/data-structures-projects-using-javascript">Data
                        Structures in Real Life Projects</a><span>|</span> <a
                        href="https://online.codingblocks.com/courses/graph-data-structure-algorithms">Graph
                        Algorithms</a><span>|</span> <a
                        href="https://online.codingblocks.com/courses/learn-dynamic-programming-online-course">Dynamic
                        programming</a><span>|</span> <a
                        href="https://online.codingblocks.com/courses/python-for-beginners-developers">Python for Developers
                        Master Course</a><span>|</span> <a
                        href="https://online.codingblocks.com/courses/java-collections-framework">Java collections
                        framework</a><span>|</span> <a
                        href="https://online.codingblocks.com/courses/Selenium-with-Python-course-online">Selenium with
                        Python</a><span>|</span> <a href="https://online.codingblocks.com/courses/Digital-Marketing">Digital
                        Marketing course</a><span>|</span> <a
                        href="https://online.codingblocks.com/courses/class-twelfth-java-practicals">Java for Class XII
                        Board practicals</a><span>|</span> <a
                        href="https://online.codingblocks.com/courses/c-plus-plus-class-twelfth-boards">C++ for Class XII
                        boards</a>
                </p>
                <p>ADVANCED CODING COURSES:</p>
                <p><a href="competitive-programming.html">Master Competitive programming</a> <span>|</span> <a
                        href="full-stack-web-development-node-js.html">Master Full stack Web development using
                        node.JS(MERN)</a> <span>|</span> <a
                        href="https://online.codingblocks.com/courses/front-end-web-development">Master Front end Web
                        development</a> <span>|</span> <a
                        href="https://online.codingblocks.com/courses/backend-web-development">Master Backend Web
                        development using node.JS</a> <span>|</span> <a href="android-development-using-kotlin.html">Master
                        Android app development using Kotlin</a> <span>|</span><a
                        href="data-science-data-analytics-machine-learning-using-python.html">Master Data science and
                        Machine learning</a> <span>|</span> <a href="machine-learning-using-python.html">Master Machine
                        learning</a>
                </p>
    
            </div>
        </section>

    </footer>

    <!-- End of Footer -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

</body>

</html>