body::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#updateionForm{
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

a{
    text-decoration: none;
}

.btn-google{
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,0.2);
}

.btn-google:hover{
    background-color: #c23321;
    color: #fff;
}

.card-img-top {
    width: 100%;
    /* height: 15vw; */
    object-fit: cover;
}

/* .warning{
    color: red;
}

nav .menus{
    display: flex;
    align-items: center;
}

nav .menu-item{
    margin: 5px 10px;
}

nav div form{
    align-self: flex-end;
} */