<%- include('../partials/header') %>
    
    <h1>Login!!!</h1>

    <form action="/user/login" method="post">

        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </div>

        <button type="submit">Login</button>

    </form>

    <div>
        <p>Don't have any account? <a href="/user/register">Register</a></p>
    </div>

    <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <a class="btn btn-block btn-social btn-google" href="/user/auth/google" role="button">
              <i class="fab fa-google"></i>
              Log In with Google
            </a>
          </div>
        </div>
      </div>

<%- include('../partials/footer') %>