<%- include('../partials/header') %>

        <div class="row">
            <h1 class="text-center text-secondary">New Product</h1>
            <div class="col-6 offset-3">
                <form action="/new" method="POST" class="validated-form" novalidate>

                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" name="name" id="name" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Image</label>
                        <input type="text" class="form-control" name="image" id="image" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="price-label">&#8377;</span>
                            <input type="number" class="form-control" id="price" placeholder="0.00" aria-label="Price"
                                aria-describedby="price-label" name="price" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="quantity" class="form-label" >Quantity</label>
                        <input type="number" class="form-control" name="quantity" id="quantity" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="text" class="form-control" name="description" id="description"
                            required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-success">Add Product</button>
                    </div>

                </form>
            </div>

        </div>

    <%- include('../partials/footer') %>