<%- include('../partials/header') %>


<div class="container d-flex flex-column align-items-center justify-content-center">
        <h3 class="text-secondary fs-1 "><%= err.status %></h3>
        <h4 class="text-danger fs-3 fw-bold" ><%= err.message %></h4>
        <a href="/" class="btn btn-primary">Go To Home</a>
</div>


<%- include('../partials/footer') %>