<%- include('../partials/header') %>

    <% if(success) {%>
        <h2>Hurray! Successfully CheckOut</h2>
        <p><a href="/">Continue Shopping</a></p>
    <% } else{%>
        <h2>Cart is Empty</h2>
    <% } %>

<%- include('../partials/footer') %>